<h1>Logowanie</h1>
<%= form_for(:session, url: login_path) do |f| %>
<<<<<<< HEAD
  <%= f.label :Mail %>
=======
  <%= f.label :index %>
>>>>>>> ac0191d6c6c3fff9f36c34a7219cdb0f25924722
  <%= f.text_field :index, class: 'form-control' %>
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.submit "Zaloguj" %>
<% end %>