<%= form_with(model: template) do |form| %>
  <% if template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
        <% template.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_of_template %>
    <%= form.text_field :name_of_template %>
  </div>

  <div class="field">
    <%= form.label :product %>
    <%= form.text_field :product %>
  </div>

  <div class="field">
    <%= form.label :number_of_product %>
    <%= form.number_field :number_of_product %>
  </div>

  <div class="field">
    <%= form.label :checkbox %>
    <%= form.check_box :checkbox %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
